/* Site Variables */

$gray: #333333;
$blue: #1b2c37;
$green: #354A1d;
$white: #FFFFFF;
$lt_gray: #DADADA

/*$brand-primary: $blue;
$brand-secondary: $green;
$brand-tertiary: $gray;

$brand-font:'Open Sans', arial, sans-serif;*/
