/* Header */
.gray {
	background-color: $gray;
	color: $white;
	font-weight: lighter;
}

.nav {
	list-style-type: none;
	margin-bottom: 0px;
	text-align: center;
	text-transform: uppercase;
	
	li {
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
	}

	a {
	text-decoration: none;
	color: $white;
	}
}